.product{
    display:flex;
    border-bottom: 1px solid lightgray;
    margin-top: 10px;
    margin-right: 10px;
    padding-bottom: 10px;

    

}
.product-name{
    color: rgba(85, 85, 235, 0.685);
    font-weight: 200;
}
.button{
    background-color: goldenrod;
    height: 35px;
    width: 200px;
    border: 1px solid lightblack;
    border-radius: 20px;
}